<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body style="font-family: monospace; padding: 20px;">
    <h2>Добавление вентилятора</h2>

    <form method="POST">
        <label>Название:</label><br>
        <input type="text" name="name" required placeholder="Fan 1"><br><br>

        <label>GPIO Pin (число):</label><br>
        <input type="number" name="pin" required placeholder="14"><br><br>

        <button type="submit" style="padding: 5px 15px;">Добавить</button>
    </form>

    <br>
    <a href="/"> <-- Назад</a>

</body>
</html>
