<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить сенсор</title>
</head>
<body style="font-family: monospace; padding: 20px;">
    <h2>Добавление датчика температуры</h2>

    <form method="POST">
        <label>Название датчика:</label><br>
        <input type="text" name="name" required placeholder="Sen 1"><br><br>

        <label>Путь к файлу значения:</label><br>
        <input type="text" name="path" required placeholder="test.txt"><br>
        
        <br>

        <button type="submit" style="padding: 5px 15px;">Добавить сенсор</button>
    </form>

    <br>
    <a href="/"> <-- Назад</a>

</body>
</html>
